<div>
    <h2 id="page-heading">
        <span jhiTranslate="plandbApp.paraType.home.title">Para Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-para-type-sdm-suffix" [routerLink]="['/para-type-sdm-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="plandbApp.paraType.home.createLabel">
            Create new Para Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'plandbApp.paraType.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paraTypes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="plandbApp.paraType.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serialNumber"><span jhiTranslate="plandbApp.paraType.serialNumber">Serial Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sortString"><span jhiTranslate="plandbApp.paraType.sortString">Sort String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descString"><span jhiTranslate="plandbApp.paraType.descString">Desc String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageBlob"><span jhiTranslate="plandbApp.paraType.imageBlob">Image Blob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageBlobName"><span jhiTranslate="plandbApp.paraType.imageBlobName">Image Blob Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usingFlag"><span jhiTranslate="plandbApp.paraType.usingFlag">Using Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="plandbApp.paraType.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validType"><span jhiTranslate="plandbApp.paraType.validType">Valid Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validBegin"><span jhiTranslate="plandbApp.paraType.validBegin">Valid Begin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validEnd"><span jhiTranslate="plandbApp.paraType.validEnd">Valid End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insertTime"><span jhiTranslate="plandbApp.paraType.insertTime">Insert Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="plandbApp.paraType.updateTime">Update Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="verifyTime"><span jhiTranslate="plandbApp.paraType.verifyTime">Verify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdByUserName"><span jhiTranslate="plandbApp.paraType.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedByUserName"><span jhiTranslate="plandbApp.paraType.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="verifiedByUserName"><span jhiTranslate="plandbApp.paraType.verifiedBy">Verified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentName"><span jhiTranslate="plandbApp.paraType.parent">Parent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let paraType of paraTypes ;trackBy: trackId">
                <td><a [routerLink]="['/para-type-sdm-suffix', paraType.id, 'view' ]">{{paraType.id}}</a></td>
                <td>{{paraType.name}}</td>
                <td>{{paraType.serialNumber}}</td>
                <td>{{paraType.sortString}}</td>
                <td>{{paraType.descString}}</td>
                <td>
                    <a *ngIf="paraType.imageBlob" (click)="openFile(paraType.imageBlobContentType, paraType.imageBlob)">
                        <img [src]="'data:' + paraType.imageBlobContentType + ';base64,' + paraType.imageBlob" style="max-height: 30px;" alt="paraType image"/>
                    </a>
                    <span *ngIf="paraType.imageBlob">{{paraType.imageBlobContentType}}, {{byteSize(paraType.imageBlob)}}</span>
                </td>
                <td>{{paraType.imageBlobName}}</td>
                <td>{{paraType.usingFlag}}</td>
                <td>{{paraType.remarks}}</td>
                <td jhiTranslate="{{'plandbApp.ValidType.' + paraType.validType}}">{{paraType.validType}}</td>
                <td>{{paraType.validBegin | date:'medium'}}</td>
                <td>{{paraType.validEnd | date:'medium'}}</td>
                <td>{{paraType.insertTime | date:'medium'}}</td>
                <td>{{paraType.updateTime | date:'medium'}}</td>
                <td>{{paraType.verifyTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="paraType.createdById">
                        <a [routerLink]="['../rms-user-sdm-suffix', paraType.createdById , 'view' ]" >{{paraType.createdByUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paraType.modifiedById">
                        <a [routerLink]="['../rms-user-sdm-suffix', paraType.modifiedById , 'view' ]" >{{paraType.modifiedByUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paraType.verifiedById">
                        <a [routerLink]="['../rms-user-sdm-suffix', paraType.verifiedById , 'view' ]" >{{paraType.verifiedByUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paraType.parentId">
                        <a [routerLink]="['../para-type-sdm-suffix', paraType.parentId , 'view' ]" >{{paraType.parentName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/para-type-sdm-suffix', paraType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/para-type-sdm-suffix', paraType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'para-type-sdm-suffix/'+ paraType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
