<div>
    <h2 id="page-heading">
        <span jhiTranslate="plandbApp.rmsRole.home.title">Rms Roles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rms-role-sdm-suffix" [routerLink]="['/rms-role-sdm-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="plandbApp.rmsRole.home.createLabel">
            Create new Rms Role
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'plandbApp.rmsRole.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rmsRoles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="plandbApp.rmsRole.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="serialNumber"><span jhiTranslate="plandbApp.rmsRole.serialNumber">Serial Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sortString"><span jhiTranslate="plandbApp.rmsRole.sortString">Sort String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descString"><span jhiTranslate="plandbApp.rmsRole.descString">Desc String</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageBlob"><span jhiTranslate="plandbApp.rmsRole.imageBlob">Image Blob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageBlobName"><span jhiTranslate="plandbApp.rmsRole.imageBlobName">Image Blob Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="usingFlag"><span jhiTranslate="plandbApp.rmsRole.usingFlag">Using Flag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remarks"><span jhiTranslate="plandbApp.rmsRole.remarks">Remarks</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validType"><span jhiTranslate="plandbApp.rmsRole.validType">Valid Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validBegin"><span jhiTranslate="plandbApp.rmsRole.validBegin">Valid Begin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="validEnd"><span jhiTranslate="plandbApp.rmsRole.validEnd">Valid End</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="insertTime"><span jhiTranslate="plandbApp.rmsRole.insertTime">Insert Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updateTime"><span jhiTranslate="plandbApp.rmsRole.updateTime">Update Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="verifyTime"><span jhiTranslate="plandbApp.rmsRole.verifyTime">Verify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdByUserName"><span jhiTranslate="plandbApp.rmsRole.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifiedByUserName"><span jhiTranslate="plandbApp.rmsRole.modifiedBy">Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="verifiedByUserName"><span jhiTranslate="plandbApp.rmsRole.verifiedBy">Verified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentName"><span jhiTranslate="plandbApp.rmsRole.parent">Parent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let rmsRole of rmsRoles ;trackBy: trackId">
                <td><a [routerLink]="['/rms-role-sdm-suffix', rmsRole.id, 'view' ]">{{rmsRole.id}}</a></td>
                <td>{{rmsRole.name}}</td>
                <td>{{rmsRole.serialNumber}}</td>
                <td>{{rmsRole.sortString}}</td>
                <td>{{rmsRole.descString}}</td>
                <td>
                    <a *ngIf="rmsRole.imageBlob" (click)="openFile(rmsRole.imageBlobContentType, rmsRole.imageBlob)">
                        <img [src]="'data:' + rmsRole.imageBlobContentType + ';base64,' + rmsRole.imageBlob" style="max-height: 30px;" alt="rmsRole image"/>
                    </a>
                    <span *ngIf="rmsRole.imageBlob">{{rmsRole.imageBlobContentType}}, {{byteSize(rmsRole.imageBlob)}}</span>
                </td>
                <td>{{rmsRole.imageBlobName}}</td>
                <td>{{rmsRole.usingFlag}}</td>
                <td>{{rmsRole.remarks}}</td>
                <td jhiTranslate="{{'plandbApp.ValidType.' + rmsRole.validType}}">{{rmsRole.validType}}</td>
                <td>{{rmsRole.validBegin | date:'medium'}}</td>
                <td>{{rmsRole.validEnd | date:'medium'}}</td>
                <td>{{rmsRole.insertTime | date:'medium'}}</td>
                <td>{{rmsRole.updateTime | date:'medium'}}</td>
                <td>{{rmsRole.verifyTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="rmsRole.createdById">
                        <a [routerLink]="['../rms-user-sdm-suffix', rmsRole.createdById , 'view' ]" >{{rmsRole.createdByUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rmsRole.modifiedById">
                        <a [routerLink]="['../rms-user-sdm-suffix', rmsRole.modifiedById , 'view' ]" >{{rmsRole.modifiedByUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rmsRole.verifiedById">
                        <a [routerLink]="['../rms-user-sdm-suffix', rmsRole.verifiedById , 'view' ]" >{{rmsRole.verifiedByUserName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="rmsRole.parentId">
                        <a [routerLink]="['../rms-role-sdm-suffix', rmsRole.parentId , 'view' ]" >{{rmsRole.parentName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/rms-role-sdm-suffix', rmsRole.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rms-role-sdm-suffix', rmsRole.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rms-role-sdm-suffix/'+ rmsRole.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
